In [ ]:
nama = input("Masukkan nama mahasiswa: " )
nim = input("Masukkan NIM: ")
nilai = int(input("Masukkan nilai ujian (0-100): "))

print("\nNama: ", nama, "(type: ",type(nama),")")
print("NIM: ", nim, "(type: ",type(nim),")")
print("Nilai: ", nilai, "(type: ",type(nilai),")")

print("\nHasil Evaluasi:")
print("Mahasiswa: ", nama, "( NIM: ",nim,")")
print("Nilai Ujian: ", nilai)

if nilai >= 85 and nilai <= 100 :
    kategori = "A (Sangat Baik)"
elif nilai >= 75 and nilai <= 84 :
    kategori = "B (Baik)"
elif nilai >= 60 and nilai <= 74 :
    kategori = "C (Cukup)"
elif nilai >= 40 and nilai <= 59 :
    kategori = "D (Kurang)"
elif nilai <= 40 :
    kategori = "E (Sangat Kurang)"
else:
  print("Nilai tidak valid")

print("Kategori Nilai:", kategori)

Masukkan nama mahasiswa: Elsa
Masukkan NIM: 918267
Masukkan nilai ujian (0-100): 35

Nama:  Elsa (type:  <class 'str'> )
NIM:  918267 (type:  <class 'str'> )
Nilai:  35 (type:  <class 'int'> )

Hasil Evaluasi:
Mahasiswa:  Elsa ( NIM:  918267 )
Nilai Ujian:  35
Kategori Nilai: E (Sangat Kurang)

In [ ]:
nama = input("Masukkan nama mahasiswa: " )
nim = input("Masukkan NIM: ")
nilai = int(input("Masukkan nilai ujian (0-100): "))

print(f"\nNama: {nama} (type: {type(nama)})")
print(f"NIM: {nim} (type: {type(nim)})")
print(f"Nilai: {nilai} (type: {type(nilai)})")

print("\nHasil Evaluasi:")
print(f"Mahasiswa: {nama} (NIM: {nim})")
print("Nilai Ujian: ", nilai,)

if nilai >= 85 and nilai <= 100 :
    kategori = "A (Sangat Baik)"
elif nilai >= 75 and nilai <= 84 :
    kategori = "B (Baik)"
elif nilai >= 60 and nilai <= 74 :
    kategori = "C (Cukup)"
elif nilai >= 40 and nilai <= 59 :
    kategori = "D (Kurang)"
elif nilai <= 40 :
    kategori = "E (Sangat Kurang)"
else:
  print("Nilai tidak valid")

print("Kategori Nilai:", kategori)

Masukkan nama mahasiswa: Elsa
Masukkan NIM: 291003973
Masukkan nilai ujian (0-100): 98

Nama: Elsa (type: <class 'str'>)
NIM: 291003973 (type: <class 'str'>)
Nilai: 98 (type: <class 'int'>)

Hasil Evaluasi:
Mahasiswa: Elsa (NIM: 291003973)
Nilai Ujian:  98
Kategori Nilai: A (Sangat Baik)